Source: hiknetextractor
Section: video
Priority: optional
Maintainer: Eric Petit <surfzoid@gmail.com>
Build-Depends: dh-make,
               debhelper-compat (= 13),
               qtbase5-dev (>= 5.6),
               qttools5-dev-tools,
               qt5-qmake
Standards-Version: 1.0.6
Homepage: https://github.com/surfzoid/HNEWizard
#Vcs-Browser: https://salsa.debian.org/debian/HNEWizard
#Vcs-Git: https://salsa.debian.org/debian/HNEWizard.git
Rules-Requires-Root: no

Package: hiknetextractor
Architecture: any
Depends: ${shlibs:Depends},
               ${misc:Depends},
               libqt5gui5,
               libqt5widgets5,
               libqt5core5,
               python-hiknetextractor
Description:hiknetextractor for Hikvision.
 A wizard to configure HikNetExtractor https://github.com/surfzoid/HikNetExtractor

