#!/usr/bin/make -f
export QT_SELECT := qt5
TR_DIR=usr/share/HikNetExtractor/translations/
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@

install: build
	mkdir -p usr/share/applications/

	#Desktop file
	cat >usr/share/applications/HikNetExtractor.desktop << 'EOF' \n [Desktop Entry] \n Version=1.0 \n Name=HikNetExtractor \n GenericName=hiknetextractor for Hikvision \n Comment=hiknetextractor for Hikvision \n Exec=HikNetExtractor %U \n TryExec=/usr/bin/HikNetExtractor \n Icon=QtVsPlayer \n Terminal=true \n Type=Application \n Categories=AudioVideo;Player; \n Keywords=Player;Video;HikVision;Motion; \n X-Desktop-File-Install-Version=0.26 \n Path=/usr/bin \n Comment[fr_FR]=Assistant de configuration pour HikNetExtractor \n Name[fr_FR]=HikNetExtractor wizaed \n GenericName[fr_FR]=HikNetExtractor wizard \n EOF

	mkdir -p $(TR_DIR)
	cp QtVsPlayer_fr_FR.qm $(TR_DIR)
	$(MAKE) INSTALL_ROOT=usr/share install
	dh_installdirs
# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \n
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)
